@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root{
    --color-blue-clean: #2D95EC;
    --color-blue-dark: #344D79;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-green-clean: #1EB438;
    --color-green-dark: #19B434;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Oxygen', sans-serif;
    overflow-x: hidden;
}
.container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: 'header' 'main' 'content' 'footer';
    grid-template-rows: 70px 2fr 2fr 40%;
}
a{
    text-decoration: none;
    color: white;
}