footer{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    grid-area: footer;
    max-width: 100%;
    height: 500px;
}
.leia-footer{
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-button{
    margin-top: 20px;   
}
.mensagem-footer{
    font-size: 30px;
    width: 80%;
    text-align: center;
}
.container-line-footer{
    display: flex;
    align-items: center;
    border-top: solid #E8E4E4 1px;
    height: 30%;
    justify-content: center;
}
.redes-sociais{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
.logo-footer{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.logo-com-footer{
    font-size: 12px;
    font-weight: bold;
}
.nav-footer a{
    color: #000;
}
.creditos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
    background-color: var(--color-blue-dark);
    color: #fff;
}
.p-creditos{
    font-size: 13px;
    font-weight: bold;
    margin-top: 7px;
    text-transform: uppercase;
}
.p-creditos a{
    color: var(--color-blue-clean);
    transition: 2s;
}
.p-creditos a:hover{
    filter: grayscale(80%);
}
@media(max-width: 1400px){
    .redes-sociais{
        width: 95%;
    }

}
@media(max-width: 1024px){
    .nav-footer{
        display: none;
    }
    .redes-sociais{
        flex-direction: column;

    }
    .redes-footer{
        margin-top: 20px;
    }
    .p-creditos{
        text-align: center;
    }

}